@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@700&family=Open+Sans:wght@300&family=Oswald:wght@600&family=PT+Serif:wght@700&family=Shrikhand&family=Sofia+Sans&display=swap');

*
{
    max-width: 100%;
}

body
{
	width: 100%;
    background-image: url("../img/bg4.jpeg");
    /*background-color: #510079;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-expand-lg
{
background-color: white;
display: flex;
justify-content: space-between;
}

.navbar-expand-lg .navbar-brand img
{
height: 75px;
}

.vl 
{
border-left: 3px solid #a53692;
height: 40px;
margin-top: 7px;
margin: 5px 20px;
}


.navbar-expand-lg .container-fluid 
{
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 1%;
height: 2cm;
}

.navbar-light .navbar-nav .nav-link
{
text-decoration: none;
font-family: 'Oswald', sans-serif;
font-size: x-large;
color: #a53692;
border: 5px  transparent;
border-radius: 10px;
transition: 0.6s ease;
}

.navbar-light .navbar-nav .nav-link:hover
{
text-decoration: none;
padding: 5px 25px;
color: rgb(253, 240, 255);
background-color: #a53692;
transition: 0.5s ease;
}

@media only screen and (max-width: 768px) and (min-width: 100px)
{

.navbar-expand-lg
{
background-color: white;

}

.navbar-expand-lg .navbar-collapse
{    
background-color: #f6c9fa;   
padding-left: 4%;
padding-left: 5%;
}

.vl 
{
display: none;
}


.navbar-light .navbar-nav .nav-link
{
text-decoration: none;
font-family: 'Oswald', sans-serif;
font-size: x-large;
color: #a53692;
border: 5px  transparent;
border-radius: 10px;
transition: 0.6s ease;
}

.navbar-light .navbar-nav .nav-link:hover
{
text-decoration: none;
padding: 5px 25px;
color: rgb(253, 240, 255);
background-color: #a53692;
transition: 0.5s ease;
}  




}


h1
{
    font-family: 'Oswald', sans-serif;
    margin-top: 7%;
    text-align: center;
    color: #d9ff00;
}

#page
{
    max-width: 90%;
    margin: 0% 5% 0% 5%;
    background-color: rgb(216, 207, 255);
    border-radius: 10px;
}

#page #yoga_record
{
    max-width: 90%;
    margin: 0% 5% 0% 5%;
}

#page #yoga_record h1
{
    padding-top: 02%;
    color: #818181;
    padding-bottom: 2%;
}

#page #yoga_record h6
{
    color: #494949;
    font-weight: bold;
}

hr
{
    max-width: 90%;
    margin: 5% 5% 0% 5%;
    color:#494949;
}

#music_marathon
{
    max-width: 70%;
    margin: 3% 15% 0% 15%;
    display: flex;
    justify-content: space-between;
}

#music_heading h1
{
    padding-top: 2%;
    text-align: center;
    color: #818181;;
}

#music_marathon .left
{
    max-width: 100%;
    margin-left: 0%;
    display: block;
    text-align: center;
}

.left #num
{
    text-align: center;
    color: #ff00d4;
    font-size: 50px ;
}

.left #by
{
    color: #ae00ff;
    font-size: 80px;
    padding: 0;
}

.left #ladies
{
    color: #ff00d4;
    font-size: 50px;
}

#music_marathon .right
{
    max-width: 100%;
    margin-top: 5%;
}

#music_marathon .right img
{
    width: 100%;
    height: 300px;
}

h2
{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Oswald', sans-serif;;
    font-weight: bolder;
    font-size: 75px;
    color: #ae00ff;
}

#join 
{
    position: relative;
}

#join button
{
    margin: 5% 0% 5% 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
    border: 0px;
    border-radius: 10px;
    height: auto;
    color:#ffffff;
    background-color: #a53692;  
    font-family: 'Oswald', sans-serif;;
    padding: 15px;
}

#foot h2
{
    margin: 15% 0% 0% 0%;
    padding-bottom: 0%;
}

#singers
{
    margin: 3% 5% 0% 5%;
}

#singers .row .col-sm-3 img
{
    width: 100%;
    border: 5px solid #494949;
}

#singers .row .col-sm-3 button
{
    border: 0;
    width: 100%;
    background-color: #494949;
    color:#ffffff;
    height: 40px;
}

#singers .row .col-sm-3 img:hover
{
    width: 105%;
    border: 8px solid #353535;
}

#singers .row .col-sm-3 button:hover
{
    border: 0;
    width: 105%;
    background-color: #353535;
    color:#ffffff;
    height: 40px;
}





@media only screen and (max-width: 768px) and (min-width: 100px)
{
    h1
{
    font-family: 'Oswald', sans-serif;
    margin-top: 18%;
    text-align: center;
    color: #d9ff00;
}
    #music_marathon
{
    max-width: 70%;
    margin: 3% 15% 0% 15%;
    display: block;
}

#music_heading h1
{
    padding-top: 2%;
    text-align: center;
    color: #818181;;
}

#music_marathon .left
{
    max-width: 100%;
    margin-left: 0%;
    display: block;
    text-align: center;
}

.left #num
{
    text-align: center;
    color: #ff00d4;
    font-size: 50px ;
}

.left #by
{
    color: #ae00ff;
    font-size: 80px;
    padding: 0;
}

.left #ladies
{
    color: #ff00d4;
    font-size: 50px;
}

#music_marathon .right
{
    max-width: 100%;
    margin-top: 15%;
}

#music_marathon .right img
{
    width: 100%;
    height: 300px;
}

h2
{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Oswald', sans-serif;;
    font-weight: bolder;
    font-size: 60px;
    color: #ae00ff;
}

#join 
{
    position: relative;
}

#join button
{
    margin: 25% 0% 5% 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
    border: 0px;
    border-radius: 10px;
    height: auto;
    color:#ffffff;
    background-color: #a53692;  
    font-family: 'Oswald', sans-serif;;
    padding: 15px;
}

#foot h2
{
    margin: 35% 0% 0% 0%;
    padding-bottom: 0%;
}

#singers
{
    margin: 3% 5% 0% 5%;
}

#singers .row .col-sm-3 img
{
    width: 100%;
    border: 5px solid #494949;
}

#singers .row .col-sm-3 button
{
    border: 0;
    width: 100%;
    background-color: #494949;
    color:#ffffff;
    height: 40px;
}

#singers .row .col-sm-3 img:hover
{
    width: 105%;
    border: 8px solid #353535;
}

#singers .row .col-sm-3 button:hover
{
    border: 0;
    width: 105%;
    background-color: #353535;
    color:#ffffff;
    height: 40px;
}

}