@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@700&family=Open+Sans:wght@300&family=Oswald:wght@600&family=PT+Serif:wght@700&family=Shrikhand&family=Sofia+Sans&display=swap');

*
{
    max-width: 100%;
}

body
{
	width: 100%;
    background-image: url("../img/bg4.jpeg");
    /*background-color: #510079;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-expand-lg
{
background-color: white;
display: flex;
justify-content: space-between;
}

.navbar-expand-lg .navbar-brand img
{
height: 75px;
}

.vl 
{
border-left: 3px solid #a53692;
height: 40px;
margin-top: 7px;
margin: 5px 20px;
}


.navbar-expand-lg .container-fluid 
{
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 1%;
height: 2cm;
}

.navbar-light .navbar-nav .nav-link
{
text-decoration: none;
font-family: 'Oswald', sans-serif;
font-size: x-large;
color: #a53692;
border: 5px  transparent;
border-radius: 10px;
transition: 0.6s ease;
}

.navbar-light .navbar-nav .nav-link:hover
{
text-decoration: none;
padding: 5px 25px;
color: rgb(253, 240, 255);
background-color: #a53692;
transition: 0.5s ease;
}

@media only screen and (max-width: 1024px) and (min-width: 100px)
{

.navbar-expand-lg
{
background-color: white;

}

.navbar-expand-lg .navbar-collapse
{    
background-color: #f6c9fa;   
padding-left: 4%;
padding-left: 5%;
}

.vl 
{
display: none;
}


.navbar-light .navbar-nav .nav-link
{
text-decoration: none;
font-family: 'Oswald', sans-serif;
font-size: x-large;
color: #a53692;
border: 5px  transparent;
border-radius: 10px;
transition: 0.6s ease;
}

.navbar-light .navbar-nav .nav-link:hover
{
text-decoration: none;
padding: 5px 25px;
color: rgb(253, 240, 255);
background-color: #a53692;
transition: 0.5s ease;
}  




}



/*NORMAL*/


.full_page
{
    max-width: 90%;
    margin: 0% 0% 0% 5%;
    background-color: #fffafa;
}

#heading
{
    max-width: 90%;
    margin-left: 5%;
    padding-top: 12%;
}
#heading h1
{
    background-color: #990000;
    text-align: center;
    color:#ffcaca;
    font-size: 100pt;
    padding: 3% 0% 3% 0%;
    letter-spacing: 15px;
}

#hero .base-info
{
    max-width: 90%;
    margin: 0% 0% 0% 5%;
    display: flex;
    justify-content: space-between;
}

#hero hr
{
    max-width: 90%;
    margin: 0% 0% 0% 5%;
    background-color: #990000;
    
}

#hero .base-info .vl
{
    margin: 0%;
    background-color: #990000;
    border: 1px solid #990000;
    height:auto;
}

#hero .base-info a h5, h6
{
    color: #990000;
    text-align: center;
}

#hero .base-info a img
{
    width: 30%;
    margin: 0% 0% 4% 35%;
}

#hero .base-info .presented_by
{
    margin-top: 2%;
    max-width: 30%;
}

#hero .base-info .presented_to
{
    margin-top: 2%;
    max-width: 33%;
}

#hero .base-info .launch_dt
{
    margin-right: 2%;
    margin-top: 2%;
    max-width: 33%;
}

#about_us
{
    max-width: 90%;
    margin: 5% 0% 0% 5%;
    display: flex;
    text-align: justify;
}

#about_us .about_text button
{
    margin: 4% 0% 0% 30%;
    border: 0;
    border-radius: 5px;
    height: 60px;
    width: 40%;
    background-color: #990000;
    color: #ffffff;
    font-weight: 60px;
}

#about_us .about_text button:hover
{
    margin: 4% 0% 0% 30%;
    border: 0;
    border-radius: 5px;
    height: 66px;
    width: 42%;
    background-color: #720000;
    color: #ffffff;
    font-weight: 70px;
    font-size: large;
    transition: 0.5s ease-in-out;
}

.varthagi-logo
{
    
    width: 50%;
}

#about_us .about_text
{
    max-width: 50%;
    margin-top: 5%;
}

#about_us .about_text h4
{
    color: #990000;
}


#mission_vision
{
    max-width: 90%;
    margin: 3% 0% 0% 5%;
}

#mission_vision h4
{
    color: #990000;
}

.mission_vision_cont
{
    max-width: 100%;
    display: flex;
}

.mission_vision_cont .mission
{
    max-width: 50%;
    border: 1px solid #990000;
    padding: 5px;
}

.mission_vision_cont .mission h6
{
    text-align: left;
}

.mission_vision_cont .vision
{
    max-width: 50%;
    border: 1px solid #990000;
    padding: 5px;
}

.mission_vision_cont .vision h6
{
    text-align: left;
}

#benefits
{
    max-width: 90%;
    margin: 3% 5% 0% 5%;
}

#benefits h4
{
    color: #990000;
}

#benefits p
{
    max-width: 90%;
    margin: 2% 5% 0% 5%;
}

#conditions
{
    max-width: 90%;
    margin: 3% 5% 0% 5%;
}

#conditions h4
{
    color: #990000;
}

#conditions p
{
    max-width: 90%;
    margin: 2% 5% 0% 5%;
}

#info
{
    max-width: 90%;
    margin: 3% 5% 0% 5%;
}

#info h4
{
    color: #990000;
}

#info p
{
    max-width: 90%;
    margin: 2% 5% 0% 5%;
}

#address
{
    max-width: 90%;
    display: flex;
    margin: 5% 5% 5% 5%;
}

#address h4,p
{
    color: #990000;
}

#address .foot_logo
{
    width: 250px;
    height: 250px;
}

#address .address
{
    
    max-width: 40%;
    margin-left: 50%;
}

#address .contact
{
    margin-left: 5%
}


/*MOBILE*/

@media only screen and (max-width: 1024px) and (min-width: 100px)
{
    .full_page
{
    max-width: 90%;
    margin: 10% 0% 0% 5%;
    background-color: #fffafa;
}

#heading
{
    max-width: 90%;
    margin-left: 5%;
    margin-top: 12%;
}
#heading h1
{
    background-color: #990000;
    text-align: center;
    color:#ffcaca;
    font-size: 20pt;
    padding: 5% 0% 5% 0%;
    letter-spacing: 10px;
}

#hero .base-info
{
    max-width: 90%;
    margin: 0% 0% 0% 5%;
    display: flex;
    justify-content: space-between;
}

#hero hr
{
    max-width: 90%;
    margin: 0% 0% 0% 5%;
    background-color: #990000;
    
}

#hero .base-info .vl
{
    margin: 0%;
    background-color: #990000;
    border: 1px solid #990000;
    height:auto;
}

#hero .base-info a h5, h6
{
    font-size: small;
    color: #990000;
    text-align: center;
}

#hero .base-info a img
{
    width: 70%;
    margin: 0% 0% 4% 15%;
}

#hero .base-info .presented_by
{
    margin-top: 2%;
    max-width: 30%;
}

#hero .base-info .presented_to
{
    margin-top: 2%;
    max-width: 33%;
}

#hero .base-info .launch_dt
{
    margin-right: 2%;
    margin-top: 2%;
    max-width: 33%;
}

#about_us
{
    max-width: 100%;
    margin: 5% 0% 0% 5%;
    display: block;
    text-align: justify;
}

#about_us .about_text button
{
    margin: 4% 0% 5% 12%;
    border: 0;
    border-radius: 5px;
    height: 60px;
    width: 80%;
    background-color: #990000;
    color: #ffffff;
    font-weight: 60px;
}

#about_us .about_text button:hover
{
    margin: 4% 0% 0% 30%;
    border: 0;
    border-radius: 5px;
    height: 66px;
    width: 42%;
    background-color: #720000;
    color: #ffffff;
    font-weight: 70px;
    font-size: large;
    transition: 0.5s ease-in-out;
}

.varthagi-logo
{
    
    width: 100%;
}

#about_us .about_text
{
    max-width: 90%;
    margin-top: 5%;
}

#about_us .about_text h4
{
    color: #990000;
}


#mission_vision
{
    max-width: 90%;
    margin: 3% 0% 0% 5%;
}

#mission_vision h4
{
    color: #990000;
}

.mission_vision_cont
{
    max-width: 100%;
    display: block;
}

.mission_vision_cont .mission
{
    max-width: 100%;
    border: 1px solid #990000;
    padding: 5px;
}

.mission_vision_cont .mission h6
{
    text-align: left;
}

.mission_vision_cont .vision
{
    max-width: 100%;
    border: 1px solid #990000;
    padding: 5px;
}

.mission_vision_cont .vision h6
{
    text-align: left;
}

#benefits
{
    max-width: 90%;
    margin: 3% 5% 0% 5%;
}

#benefits h4
{
    color: #990000;
}

#benefits p
{
    max-width: 90%;
    margin: 2% 5% 0% 5%;
}

#conditions
{
    max-width: 90%;
    margin: 3% 5% 0% 5%;
}

#conditions h4
{
    color: #990000;
}

#conditions p
{
    max-width: 90%;
    margin: 2% 5% 0% 5%;
}

#info
{
    max-width: 90%;
    margin: 3% 5% 0% 5%;
}

#info h4
{
    color: #990000;
}

#info p
{
    max-width: 90%;
    margin: 2% 5% 0% 5%;
}

#address
{
    max-width: 90%;
    display: block;
    margin: 5% 5% 5% 5%;
}

#address h4,p
{
    color: #990000;
}

#address .foot_logo
{
    width: 100px;
    height: 100px;
}

#address .address
{
    
    max-width: 80%;
    margin-left: 5%;
}

#address .contact
{
    margin-left: 5%
}
}